{% extends 'master.html.twig' %}
{% block contents %}
    <div class="col-md-12 question">
        {{ form_start(form) }}
        <section class="form-group">
            {{ form_label(form.Topic) }}
            {{ form_widget(form.Topic) }}
        </section>
        {{ form_end(form) }}

        <button id="add_question" class="btn btn-default">Ajouter une question</button>
    </div>
{% endblock %}