{% block content %}
    <div>
        <ul>
            {% for resultat in res %}
            <li>
                    <div class="topicName">{{ resultat.name }}</div>
            </li>
            {%  endfor %}
        </ul>
{% endblock %}